extends layout

block content
  .container
    .embed-responsive.embed-responsive-16by9
      img.embed-responsive-item(src='/images/Blockchain-Logo-White-1.png')
    br
    p.pull-right by
      a(href='http://andersbrownworth.com/') Satya Suman & Praveen
      | Credits to Anders Brownworth
